# Ambiente Virtual
venv/
.venv/
env/

# Arquivos de Configuração Secretos
config/.env
.env
*.env
scr/logic/.csv

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache de Testes
.pytest_cache/
.coverage

# Logs, Relatórios e Dados
logs/
*.log
relatorios/
*.csv

# Documentação local
docs/

# Editores de código e OS
.vscode/
.idea/
*.swp
.DS_Store

# Scripts de debug e outros específicos
scripts/debug_fields.py
